Repository thedev-id/thedev.id, pull requests merged in 2022-11, with the labels that each got.

#498 Please approve me - arwanfiles
  subdomains.json
Labels: site-verified, cname-added, subdomain-active

#496 Pranshu05
  subdomains.json
Labels: site-verified, cname-added, subdomain-active

#408 Add Devbox Into Subdomain List
  subdomains.json
Labels: site-verified, ssl-problem, need-contributor-action, cname-added

#499 izo
  subdomains.json
Labels: site-verified, ssl-problem, need-contributor-action, cname-added

#501 Add jay to subdomains.json
  subdomains.json
Labels: site-verified, need-contributor-action, cname-added, subdomain-active

#504 Add darcoz at subdomains.json
  subdomains.json
Labels: site-verified, cname-added, subdomain-active

#505 add la.thedev.id
  subdomains.json
Labels: site-verified, cname-added, subdomain-active

#488 add subdomain 'dook'
  subdomains.json
Labels: site-verified, need-contributor-action, cname-added

#507 Update subdomains.json
  subdomains.json
Labels: site-verified, cname-added, subdomain-active

#490 Added carter domain and sorted
  subdomains.json
Labels: site-verified, need-contributor-action, cname-added

#508 sorted blog-halip26
  subdomains.json
Labels: site-verified, cname-added, subdomain-active

#409 codewhiteweb.thedev.id
  subdomains.json
Labels: site-verified, need-contributor-action, cname-added

#509 charcg.thedev.id
  subdomains.json
Labels: site-verified, cname-added, subdomain-active

#429 added elvisvictor & scripthouse subdomains
  subdomains.json
Labels: site-verified, need-contributor-action, cname-added

#514 Update subdomains.json
  subdomains.json
Labels: site-verified, cname-added, subdomain-active

#444 Update subdomains.json
  subdomains.json
Labels: site-verified, need-contributor-action, cname-added, subdomain-active

#511 Added dhruvil
  subdomains.json
Labels: site-verified, cname-added, subdomain-active

#515 [Add] miti99 subdomain
  subdomains.json
Labels: site-verified, cname-added, subdomain-active

#503 Add darvzac
  subdomains.json
Labels: site-verified, cname-added, subdomain-active

#460 Added darkshark.thedev.id
  subdomains.json
Labels: site-verified, cname-added, subdomain-active

#482 add new subdomains
  subdomains.json
Labels: site-verified, cname-added, subdomain-active

#476 add new domain
  subdomains.json
Labels: site-verified, need-contributor-action, cname-added

#520 add new domain ihsan
  subdomains.json
Labels: site-verified, cname-added, subdomain-active

#435 Update subdomains.json
  subdomains.json
Labels: site-verified, cname-added, subdomain-active

#527 Update subdomains.json
  subdomains.json
Labels: site-verified, cname-added, subdomain-active

#519 [Add] deviltux.thedev.id subdomain
  subdomains.json
Labels: site-verified, cname-added, subdomain-active

#530 update bro
  subdomains.json
Labels: site-verified, cname-added, subdomain-active

#529 Add subdomain "anshul"
  subdomains.json
Labels: site-verified, cname-added, subdomain-active
