Repository thedev-id/thedev.id, pull requests merged in 2022-12, with the labels that each got.

#522 add subdomain "paban"
  subdomains.json
Labels: site-verified, need-contributor-action, cname-added

#532 rumahzen
  subdomains.json
Labels: site-verified, cname-added, subdomain-active

#535 Update subdomains.json
  subdomains.json
Labels: site-verified, cname-added, subdomain-active

#524 Added amaanwarsi
  subdomains.json
Labels: site-verified, cname-added, subdomain-active

#534 Update subdomains.json
  subdomains.json
Labels: site-verified, cname-added, subdomain-active

#538 add domain at subdomains.json
  subdomains.json
Labels: site-verified, cname-added, subdomain-active

#539 Update subdomains.json
  subdomains.json
Labels: site-verified, need-contributor-action, cname-added

#542 Update subdomains.json
  subdomains.json
Labels: site-verified, cname-added, subdomain-active

#533 Add similar services
  README.md
Labels: enhancement

#548 Update subdomains.json
  subdomains.json
Labels: site-verified, cname-added, subdomain-active

#549 Update subdomains.json
  subdomains.json
Labels: site-verified, cname-added, subdomain-active

#550 Subdomain registration
  subdomains.json
Labels: site-verified, cname-added, subdomain-active

#560 Add saksham.thedev.id
  subdomains.json
Labels: site-verified, cname-added, subdomain-active

#518 Update subdomains.json
  subdomains.json
Labels: site-verified, cname-added, subdomain-active

#561 add william.thedev.id
  subdomains.json
Labels: site-verified, cname-added, subdomain-active

#562 Add mj1532 subdomains
  subdomains.json
Labels: site-verified, cname-added, subdomain-active

#566 requested adarsh.thedev.id
  subdomains.json
Labels: site-verified, need-contributor-action, cname-added, subdomain-active

#569 (Again)Update subdomains.json - Added tawhid.thedev.id
  subdomains.json
Labels: site-verified, need-contributor-action, cname-added

#570 add portfolio site
  subdomains.json
Labels: site-verified, cname-added, subdomain-active

#567 add maskduck.thedev.id
  subdomains.json
Labels: site-verified, cname-added, subdomain-active
